/*Interface styling*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font: normal 12px/1.2 sans-serif;
}


/*toggle grid/list views*/

.fa {
  font-size: 0
}

.fa:before {
  font-size: 48px;
  color: #EBC1B5;
  cursor: pointer;
  display: inline-block;
  width: 48px;
}

.grid-view .fa-th:before,
.list-view .fa-th-list:before {
  color: #AC796A;
}

input[type=radio] {
  opacity: 0;      
  pointer-events: none;
  position: relative;
  top: -15px;
  left: -28px;
}

#switcher {
  width: 100%;
  display: inline-block;
  margin: 24px auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.pb-description {
  padding-bottom: 1rem;
}

.price {
  color: #AC796A;
  font: bold 14px/1.2 sans-serif;
  margin: .2em 0;
}

.button {
  background: #AFD7D6;
  color: #FFF;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  white-space: nowrap;
}


/*Begin Flex Styling*/

#productWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 90%;
}

.product-block {
  border: solid 1px #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 200px;
}

.pb-mid,
.pb-lower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.price,
.button {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.grid-view .product-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  margin: 0 -1px -1px 0;
  padding: 10px;
  text-align: center;
}

.grid-view .product-block div {
  width: 90%;
  margin: 0 auto;
  max-width: 200px
}

.grid-view .pb-mid,
.grid-view .pb-lower {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid-view .button {
  margin-top: 1rem;
}


/*END GRID VIEW*/


/*BEGIN LIST VIEW*/

.list-view .product-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -1px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.list-view .product-block div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list-view .product-block .pb-upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.list-view .pb-image {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  height: 100%;
  display: inline-block;
  max-width: 158px;
}

.list-view .pb-description {
  text-align: left;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.list-view .pb-mid {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  max-width: 100px;
}

.list-view .pb-lower {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-view .pb-image img {
  width: 100%;
  padding-right: 10px;
  height: auto;
}

.list-view .pb-description p {
  text-align: left;
  width: 100%;
}

.list-view .pb-description a {
  font: normal 18px/1.2 sans-serif;
}

.list-view .pb-lower {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-view .button {
  margin-left: 1rem;
  padding: 10px 20px;
}


/*END LIST VIEW*/

@media screen and (max-width: 600px) {
	
  .list-view .product-block .pb-upper {
    padding-left: 75px;
    position: relative;
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
  }
  .list-view .product-block .pb-mid {
    margin-bottom: 1em;
  }
  .list-view .product-block .pb-description,
  .list-view .product-block .pb-mid {
    min-width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
			
	-webkit-flex: 1 0 100%;
  flex: 1 0 100%;
  }
  .list-view .product-block .pb-image {
    width: 75px;
    position: absolute;
    left: 0;
  }
  .list-view .product-block .pb-lower {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
  }
}

@media screen and (max-width: 414px) {
  #productWrapper .product-block {
    -webkit-flex: 1 0 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

.wrapper{
  width:500px;
  margin:0 auto;
}

ul{
  maring:0;
  padding:0px;
 
  list-style:none;
}
ul li{

    padding:20px;
    margin-top:20px;
    background-color:rgba(255,255,255,0.9);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
    border-radius:3px;
   -webkit-box-shadow: 0px 0px 2px #888888;
   -moz-box-shadow: 0px 0px 2px #888888;
     box-shadow: 0px 0px 2px #888888;
    
}
.head{ 
  padding:20px;
  color:red;
  font-size:36px;
  text-align:center;
  background-color:#ed6f70;
  color:#fff;
  -webkit-border-radius:3px;
   -moz-border-radius:3px;
    border-radius:3px;
  -webkit-box-shadow: 0px 0px 2px #888888;
  -moz-box-shadow: 0px 0px 2px #888888;
     box-shadow: 0px 0px 2px #888888;
}
.proPic,img{
  display:inline-block;
  width:80px;
  height:80px;


}

li span{
  font-size:18px;
  color:#a0a29d;
  margin-right:40px;
   height: 32px;
  line-height: 32px;

 
}
.likes:before{
  content:url("https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group2-32.png");
    vertical-align: -30%;
  margin-right:2%;
  opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.photo:before{
  content:url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-32.png");
    vertical-align: -25%;
  margin-right:2%;
  opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.comments:before{

  content:url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/bubble-24-24.png");
   vertical-align: -25%;
  margin-right:2%;
  opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.info{
  width:75%;

  margin:0;
  margin-left:5%;
  display:inline-block;

  
}

.social{
   
   padding-top:20px; 
}

h3{

  color:#767a7b;
  margin:0;
  padding-bottom:20px;
  font-size:25px;
  font-weight:100;
  border-bottom:1px solid #e0e1dd;
}
h3:after{
  
 float:right;
  -webkit-filter: sepia(70%);
  filter:  sepia(70%);
}
.fav{
  float:right;
}


html, body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}
[v-cloak] {
  display: none;
}
img {
  max-width: 100%;
}
#app {
  margin: 50px auto;
}
#app .search-box {
  margin-bottom: 20px;
  border: 1px solid #d1d1d1;
  padding: 5px 30px;
  border-radius: 40px;
}
#app .search-box label {
  margin-right: 1%;
}
#app .search-box label i {
  line-height: 26px;
  color: #0ab38d;
}
#app .search-box input {
  line-height: 26px;
  border: none;
  width: 90%;
}
#app .search-box input:focus {
  outline: none;
}
#app .news-wrappe__item {
  border-bottom: 1px solid #d1d1d1;
  overflow: hidden;
}
#app .news-wrappe__item:last-child {
  border: none;
}
#app .news-wrappe__item--text h2 {
  margin: 0;
}
#app .news-wrappe__item--text h2 a {
  color: #212121;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
#app .news-wrappe__item--text h2 a:hover {
  color: #0ab38d;
}
#app .news-wrappe__item--text p {
  color: #606060;
}
#app .news-wrappe__item--text span {
  color: #606060;
  font-size: 0.9rem;
}
#app .news-wrappe__item--text span i {
  color: #0ab38d;
}
#footer {
  margin-top: 50px;
  background: #f2f2f2;
  padding: 15px 0;
  text-align: center;
  color: #606060;
  font-size: 0.9rem;
}
#footer a {
  color: #606060;
}
#footer a:hover {
  color: #0ab38d;
}
@media screen and (min-width: 1024px) {
  #app {
    width: 800px;
 }
  .news-wrappe__item {
    padding: 20px 0;
 }
  .news-wrappe__item img {
    float: left;
    display: block;
    width: 30%;
    margin-right: 5%;
 }
  .news-wrappe__item--text {
    float: left;
    width: 65%;
 }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .search-box {
    margin: 20px;
 }
  .news-wrappe__item {
    padding: 20px;
    overflow: hidden;
 }
  .news-wrappe__item img {
    float: left;
    display: block;
    width: 30%;
    margin-right: 5%;
 }
  .news-wrappe__item--text {
    float: left;
    width: 65%;
 }
}
@media screen and (max-width: 480px) {
  .search-box {
    margin: 20px;
 }
  #app .news-wrappe__item {
    padding: 15px;
 }
  #app .news-wrappe__item img {
    width: 100%;
 }
  #app .news-wrappe__item--text {
    width: 100%;
 }
}
