<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/mystyle.css">
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>            
            <div class="wrapper">
              <ul class="menu">
                  <div class="head">Browser</div> <br>
                  <form action="/browse" method="POST">
                  <li class="info"><input type="text" id="search" name="search" placeholder="search" style="display: inherit;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;">
                      <input style="padding-left: 5px;font-size: 20px;" type="submit" value="Search"/>
                  </li>
                  </form>
                  <% if(data.length!=0){ %>
              <ul id="mysub">
                <% for(var i=0;i<data.RelatedTopics.length;i++) { if(data.RelatedTopics[i].Text != undefined) {%>
                <li>
                  <div class='info'>
                    <h3><%= data.RelatedTopics[i].Text%></h3>
                    <div class='social'>
                      <span>Read more on: <a href="<%= data.RelatedTopics[i].FirstURL %>"><%= data.RelatedTopics[i].FirstURL %></a></span>
                    </div>
                  </div>
                </li>
                <% }} %>
                </ul>
            <% }%>
              </ul>
            </div>
  </main>

  <!-- <% include ./parts/footer.ejs %> -->
</body>
</html>
