<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <main>
        <div>
            <div class="content-2">
                <div class="branding">
                  <!-- here goes the data welcome message  -->
                  <h2>CStack Applications</h2>
                </div>
                <h3 style="color: aliceblue;">Hello <%= user.username%><br>
                <h5 style="color: aliceblue;">Email ID <%= user.email %></h5>
                <h2 style="color: aliceblue;">Data <%= data. RelatedTopics[0].Result%></h2>
                </h3>
                <h
            </div>
        </div>
    </main>
  </main>

  <!-- <% include ./parts/footer.ejs %> -->
</body>
</html>
