<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/mainpg.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>
  <main>
            <div class="content-2">
                <div class="branding">
                  <!-- here goes the data welcome message  -->
                  <h1 style="color: aliceblue;">CStack Applications</h1>
                </div>
                <hr>
               <ul class="onn inn">
                  <li class="list"><a><img src="/pics/call.png" width="96" heigth="96" onclick="window.location.href='/voice'" /></a></li>
                  <li class="list"><a><img src="/pics/drive.png" width="96" heigth="96" onclick="window.location.href='/drive'"/> </a></li>
                  <li class="list"><a><img src="/pics/chat.png" width="96" heigth="96" onclick="window.location.href='/chat'"/></a></li>
                  <li class="list"><a><img src="/pics/notepad.png" width="96" heigth="96" onclick="window.location.href='/note'"/></a></li>
                  <li class="list"><a><img src="/pics/termi.png" width="96" heigth="96" onclick="window.location.href='/terminal'" /></i></a></li>
                  <li class="list"><a><img src="/pics/news.png" width="96" heigth="96" onclick="window.location.href='/news'" /></a></li>
                  <li class="list"><a><img src="/pics/brow.png" width="96" heigth="96" onclick="window.location.href='/browse'" /></a></li>
            </div>
            <nav class="menu">
              <h1> title </h1>
              <ul>
                  <li><a href="/voice">Call</a></li>
                  <li><a href="/drive">Drive</a></li>
                  <li><a href="/chat">Chat</a></li>
                  <li><a href="/note">Notepad</a></li>
                  <li><a href="/terminal">Terminal</a></li>
                  <li><a href="/news">News</a></li>
                  <li><a href="/browse">Browser</a></li>
              </ul>
          </nav>
          <footer><i class="fa fa-windows start-button" style="color: aliceblue;"> CStack</i></footer>
  </main>

  <!-- <% include ./parts/footer.ejs %> -->
  <script>
    $(function() {
    $(".menu").hide();
      
     $(".menu").find(".close").on( "click", function() {
                $(".menu").toggle("slow");
      });
    
    $(".start-button").on( "click", function() { $(".menu").toggle("slow"); });
    
  });
  </script>
</body>
</html>
