<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <main>
        <div class="login-box">
            <div class="content-2">
                <div class="branding">
                  <!-- here goes the data welcome message  -->
                  <h2>CStack Applications</h2>
                </div>
               <ul class="onn inn">
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/phone.png"/></a></li>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/hdd.png"/> </a></li>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/chat.png" onclick="window.location.href='/chat'"/></a></li>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/video-call.png"/></a></li>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/mail.png" /></i></a></li>
                  
                  <h4 class="black">Infortainment</h4>
                  <span class="line"></span>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/restore-window.png" onclick="window.location.href='/browse'"/></a></li>
                  <li class="list"><a><img src="https://img.icons8.com/ultraviolet/96/4a90e2/visible.png" onclick="window.location.href='/news'"/></a></li>
                  <li class="list"><a><img src="https://img.icons8.com/fluent/96/4a90e2/help.png"/></a></li>
            </div>
        </div>
    </main>
  </main>

  <!-- <% include ./parts/footer.ejs %> -->
</body>
</html>
