<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/mystyle.css">
  <% include ./parts/head.ejs %>
</head>
<body>
  <br>
	<button class="btn btn-danger" onclick="window.location.href='/main'">Home</button>
	<hr>
  <main>
            <div class="content-2">
                <div class="branding">
                  <!-- here goes the data welcome message  -->
                  <h2 style="color: aliceblue;">News Feeds</h2>
                </div>
             </div>

            <div id="productPage" class="list-view">
              <ul id="productWrapper">
                <% for(var i=0; i<mydata.articles.length;i++) {%>
                <li class="product-block">
                  <div class="pb-upper">
                    <div class="pb-image">
                      <a href="#"><img src="<%= mydata.articles[i].urlToImage%>" border="0" alt="Some great feed" class="pb-img"></a>
                    </div>
                    <div class="pb-description">
                      <p class="description">
                        <%= mydata.articles[i].title%>
                      </p>
                      <p style="font-size: medium;color: grey;">
                        <%= mydata.articles[i].description%>
                      </p>
                    </div>
                  </div>
                  <div class="pb-lower">
                    <a href="<%= mydata.articles[i].url%>" class="button">Read more</a>
                  </div>
                 </li>
                 <% }%>
              </ul>
            </div>

  </main>

  <!-- <% include ./parts/footer.ejs %> -->
</body>
</html>
